<header class="header" role="banner">
  <nav class="navbar" style="">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
        <img src="https://docs.fedoraproject.org/_images/docs_logo.png" style="height:40px">
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">User Docs</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Release Docs</a>
            <a class="navbar-item" href="#">Qucick Docs</a>
            <a class="navbar-item" href="#">Something I can't read</a>
            <a class="navbar-item" href="#">RPM</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Project & Leadership</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Fedora Project</a>
            <a class="navbar-item" href="#">Fedora Council</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Engineering</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">FESCO</a>
            <a class="navbar-item" href="#">Modularity</a>
            <a class="navbar-item" href="#">.NET</a>
            <a class="navbar-item" href="#">QA</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Mindshare</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Mindshare</a>
            <a class="navbar-item" href="#">CommOps</a>
          </div>
        </div>
        <!--<div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div>-->
      </div>
    </div>
  </nav>
</header>
