<header class="header" role="banner">
  <nav class="navbar" style="">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
        <img src="https://docs.fedoraproject.org/_images/docs_logo.png" style="height:40px">
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        
      </div>
    </div>
  </nav>
</header>
